.dragarea-p{
  position: absolute;
  margin-top: -280px; margin-left: 1000px
}

.dragarea{
  position: absolute;
  margin-top: -250; margin-left: 1000px;
}

.order1{
  position: absolute;
  margin-top: -200px;
  width: 60px;
  text-align: center; background: blue; cursor: move;
}

.order2{
  position: absolute;
  margin-top: -150px;
  width: 60px;
  text-align: center; background: blue; cursor: move;
}
