.flash_success{
  background-color: lightYellow;
  border: 1px solid #E6DB55;
  padding: 12px;
}

.flash_failure{
  color: #CD0A0A;
  border: 1px solid #CD0A0A;
  background-color: #FEF1EC;
  padding: 12px;
}


.my-events{
  background-color: darkorange;
  color: black;
  border-width: 5px;
  border-color: darkorange;
}
