.flash_success{
  background-color: white;
  color: #3a87ad;
  border: 1px solid #3a87ad;
  padding: 12px;
}

.flash_failure{
  color: #CD0A0A;
  border: 1px solid #CD0A0A;
  padding: 12px;
}


.my-events{
  background-color: #8C98A5;
  border-width: 5px;
  border-color: #8c98a5;
}
.my-events:hover{
  color: black;
}
.fc-day-grid-event:hover{
  color: black;
}

.fc-widget-content{
  cursor: pointer;
}

.fc-button{
  background: #3a87ad;
  color: white
}

input[type=submit]{
  background: #3a87ad !important;
  border-color: #3a87ad !important;
}

input[type=submit]:hover{
  background: white !important;
  color: #3a87ad!important;
  border-color: #3a87ad!important;
}

body{
  background: #4a87ad;
}

#header_menu{
  color: #fff;
  font-weight: normal;
}

dt ~ dd{
  line-height: 2;
  margin-left: 10em;
}
